name: .NET
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Zip output
      uses: papeloto/action-zip@v1
      with:
        files: TrinityModLoader/bin/Release/net6.0-windows
        dest: TrinityModLoader/bin/Release/TrinityLoader.zip
    - name: Update nightly release
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/pkZukan/gftool/releases/84790057/assets{?name,label}
        release_id: 84790057
        asset_path: TrinityModLoader/bin/Release/TrinityLoader.zip
        asset_name: TrinityLoader-nightly-$$.zip
        asset_content_type: application/zip
        max_releases: 1